<h2>Create a new drone</h2>
<form method="post">
    <label>Name:<input name="name"/></label>
    <br>
    <label>Propellers:<input name="propellers" type="number"/>units</label>
    <br>
    <label>MaxSpeed:<input name="maxSpeed" type="number"/>meters per second</label>
    <br>
    <button type="submit">Create the drone</button>
</form>